body{
      background-image: url(.dist/anime-death-note-kira-death-note-light-yagami-wallpaper-preview.jpg);
      background-repeat: no-repeat;
      background-position: centre;
      background-attachment: fixed;
      background-size: cover;
}